@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Liberation+Mono:wght@400;700&family=Public+Sans:wght@400;700&family=Space+Grotesk:wght@400;700&display=swap');

@import 'tailwindcss';

@theme {
  --font-public-sans: 'Public Sans', sans-serif;
  --font-space-grotesk: 'Space Grotesk', sans-serif;
  --font-liberation-mono: 'Liberation Mono', monospace;
  --font-inter: 'Inter', sans-serif;

  --color-primary: #005ea3;
  --color-primary-dark: #004d86;
  --color-secondary: #0077cc;
  --color-text-main: #191c1d;
  --color-text-secondary: #404752;
  --color-text-muted: #94a3b8;
  --color-bg-light: #f3f4f5;
  --color-bg-muted: #e1e3e4;
  --color-border: #e2e8f0;
  --color-blue-accent: #2563eb;
  --color-brown-accent: #815200;
  --color-brown-light: #ffddb7;
  --color-red-accent: #ba1a1a;
  --color-purple-accent: #5c5c79;
}

:root {
  font-family: 'Public Sans', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: #191c1d;
  background-color: #ffffff;
}

p {
  margin: 0;
}
